.clock-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.clock p {
    color: #fff;
    font-size: 90px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

    margin-top: 20%;
    margin-bottom: 25%;
}

.clock span {
    font-size: 30px;
}
